.top {
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #242536;
  position: fixed;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  z-index: 1000;

  .logo-container {
    height: 45px;
    width: 200px;
    background-color: #151524;
    padding-top: 15px;

    .logo {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .right {
    display: flex;
    align-items: center;
    margin-right: 30px;

    &:hover {
      .logout {
        display: inline-block;
      }
    }

    .logout {
      display: none;
      position: absolute;
      height: 40px;
      line-height: 40px;
      top: 60px;
      right: 30px;
      padding: 0 30px;
      cursor: pointer;
      background: #242536;
      border-top: 1px solid #151524;

      &:hover {
        background: #151524;
      }

      .fa {
        margin-right: 5px;
      }
    }

    .name {
      margin-right: 20px;
    }

    .avatar {
      display: inline-block;
      height: 30px;
      line-height: 30px;
      text-align: center;
      width: 30px;
      border-radius: 30px;
      background: #9B9B9B;
      font-family: 'Lato', sans-serif;
    }
  }
}
