<div class="top">
    <div class="logo-container">
        <img class="logo" src="../../assets/logo-small.png"/>
    </div>
    <div class="right" *ngIf="connectedUser">
        <span class="name">{{ connectedUser.fistName }} {{ connectedUser.lastName }}</span>
        <span class="avatar">{{ connectedUser.fistName[0] }}{{ connectedUser.lastName[0] }}</span>
        <div class="logout">
      <span (click)="logout()">
        <span class="fa fa-power-off"></span>
        Déconnexion
      </span>
        </div>
    </div>
</div>
