<div class="box box--small-margin">
    <div class="input input--row">
        <label for="">Filtrer par</label>
        <input type="text" id="" [(ngModel)]="search" (ngModelChange)="applySearch()">
    </div>
</div>

<div class="box">
    <app-grid [repository]="contactRepository"
              [search]="search"
              [gridConfig]="gridConfig">
    </app-grid>
</div>

