<div [ngClass]="{'box': true, 'with-loader': loader}">
    <div class="loader-box fa fa-spinner"></div>
    <h2 class="title">{{nameList}}</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Libelle</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let entity of entities" [formGroup]="formGroups[(entity.id ? entity.id.toString() : 'new')]">
            <td class="no-padding">{{entity.id ? entity.id : '#'}}</td>
            <td class="no-padding"><span class="input input--sm input--no-margin input--hover"><input
                    (keyup.enter)="save((entity.id ? entity.id.toString() : 'new'))" type="text" formControlName="title"
                    placeholder="Nom"></span></td>
            <td class="actions no-padding">

                <a (click)="save((entity.id ? entity.id.toString() : 'new'))" class="fa fa-pencil-alt isChange"></a>
                <a *ngIf="entity.id" (click)="remove(entity.id)" class="fa fa-trash-alt"></a>
            </td>
        </tr>
        </tbody>
    </table>

</div>