@import "@~variables.scss";

.input--row {
  label {
    font-size: 18px;
    color: $color15;
    width: 130px;
    font-weight: 500;
    line-height: 50px;
    margin-bottom: 0;
  }

  input {
    margin-bottom: 0;
  }
}
