<div [ngClass]="{'table-box': true, 'with-loader': loader}">
    <div class="loader-box fa fa-spinner"></div>
    <table style="width: 100%" class="table">
        <thead>
        <tr>
            <th scope="col" *ngFor="let field of fields"
                (click)="field.isFilterable ? changeOrder(field.fieldName) : null;"
                [ngClass]="{'filterable': field.isFilterable, 'asc': showOrderAscClass(field.fieldName), 'desc': showOrderDescClass(field.fieldName)}">
                {{ field.label }}
            </th>
            <th scope="col"></th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let entity of entities">
            <td *ngFor="let field of fields">
                {{ field.render(entity[field.fieldName]) }}
            </td>
            <td class="actions">
                <a *ngFor="let action of gridConfig.customActions" (click)="action.action(entity)"><i style=""
                                                                                                      class="fa fa-{{action.icon}}"></i></a>
                <a *ngIf="gridConfig.detailsAction" [routerLink]="[gridConfig.detailsRoute, entity.id]"
                   class="fa fa-pencil-alt"></a>
                <a *ngIf="gridConfig.removeAction" (click)="remove(entity.id)" class="fa fa-trash-alt"></a>
            </td>
        </tr>
        </tbody>
    </table>
    <ul class="pagination">
        <li *ngFor="let numberPage of pages" [ngClass]="{'active': numberPage === page}"
            (click)="goToPage(numberPage);">
            {{ numberPage }}
        </li>
    </ul>
</div>
