@import "@~variables.scss";

.table-box {
  position: relative;
  min-height: 100px;

  &.with-loader {
    &:before {
      content: ' ';
      position: absolute;
      z-index: 1;
      border-radius: 3px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      background: rgba(255, 255, 255, 0.8);
    }

    .loader-box {
      z-index: 2;
      color: $color1;
      font-size: 50px;
      top: calc(50% - 20px);
      left: calc(50% - 20px);
      position: absolute;
      display: inline-block;
      -webkit-animation: spin 2s linear infinite;
      -moz-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
    }
  }
}