<div [ngClass]="{'box': true, 'relative': true, 'with-loader': loader}">
    <div class="loader-box fa fa-spinner"></div>

    <form *ngIf="addUserUtilForm" [formGroup]="addUserUtilForm" (submit)="onSubmit()">
        <div class="grid">
            <div class="grid-2">
                <div class="input">
                    <label for="email">Email</label>
                    <input formControlName="email" type="text" id="email" [(ngModel)]="userUtil.email">
                </div>
                <div class="input">
                    <label for="username">Nom d'utilisateur</label>
                    <input formControlName="username" type="text" id="username" [(ngModel)]="userUtil.username">
                </div>
                <div class="input">
                    <label for="role">Rôle</label>
                    <div class="select">
                        <i class="fa fa-caret-down"></i>
                        <select id="role" formControlName="role" [(ngModel)]="userUtil.role">
                            <option *ngFor="let role of roles" [ngValue]="role">{{role.title}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="grid-2">
                <div class="input">
                    <label for="fullname">Nom complet</label>
                    <input formControlName="fullname" type="text" id="fullname" [(ngModel)]="userUtil.fullname">
                </div>
                <div class="input">
                    <label for="plainPassword">Mot de passe</label>
                    <input formControlName="plainPassword" type="password" id="plainPassword"
                           [(ngModel)]="userUtil.plainPassword">
                </div>
            </div>
        </div>
    </form>
</div>

<div class="actions-topbar" *ngIf="!loader">
    <a [routerLink]="['list']" class="return"><i class="fa fa-long-arrow-alt-left"></i></a>
    <i (click)="onSubmit()" class="submit fa fa-save cup"></i>
</div>