<div *ngIf="!InDetail" class="box box--small-margin">
    <div class="input input--row">
        <label for="filter_field">Filtrer par</label>
        <input type="text" id="filter_field" [(ngModel)]="search" (ngModelChange)="applySearch()">
    </div>
</div>

<div class="box">
    <app-grid [repository]="businessRepository"
              [search]="search"
              [gridConfig]="gridConfig">
    </app-grid>
</div>
