@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 85px;
}

.bg {
  background: url(../../assets/login-background.jpg) no-repeat black;
  background-size: cover;
  color: #ffffff;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1001;
  overflow: auto;

  &:before {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: ' ';
    background-color: #151524;
    opacity: 0.85;
    z-index: -1;
  }

  .loader {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #151524;
    opacity: 0.9;
    z-index: 1;
    align-items: center;
    justify-content: center;

    .fa {
      -webkit-animation: spin 2s linear infinite;
      -moz-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
      font-size: 50px;
    }
  }
}

.login-form {
  width: 560px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;

  .title {
    color: #A1D614;
    text-align: center;
    font-weight: 100;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 7px;
  }

  .login {
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 70px;
    font-weight: 400;
  }

  .top {
    input {
      width: 100%;
      border: none;
      border-bottom: 2px solid #b4b4b4;
      background: none;
      height: 40px;
      line-height: 40px;
      color: #ffffff;
      font-size: 13px;
      font-weight: 300;
      outline: none;
      transition: 0.3s all ease;

      &:first-child {
        margin-bottom: 33px;
      }

      &:last-child {
        margin-bottom: 10px;
      }

      &:focus {
        border-bottom: 2px solid #A1D614;
      }

      &::placeholder {
        color: #ffffff;
        opacity: 1;
        font-weight: 300;
      }

      &:-ms-input-placeholder {
        color: #ffffff;
        font-weight: 300;
      }

      &::-ms-input-placeholder {
        color: #ffffff;
        font-weight: 300;
      }
    }
  }

  .bottom {
    .forgotten-password {
      display: block;
      opacity: 0.4;
      color: #FFFFFF;
      font-size: 12px;
      font-weight: 300;
      text-align: right;
      text-decoration: underline;
    }

    .remember-me {
      user-select: none;
      margin-top: 15px;

      input {
        position: absolute;
        opacity: 0;
        height: 0;
        width: 0;
        overflow: hidden;

        &:checked + .input {
          background: #FFFFFF;
        }
      }

      .input {
        height: 15px;
        width: 15px;
        display: inline-block;
        border: 2px solid #FFFFFF;
        border-radius: 2px;
        cursor: pointer;
        transition: 0.3s all ease;
      }

      .label {
        font-size: 12px;
        font-weight: 300;
        margin-left: 8px;
        cursor: pointer;
        position: relative;
        top: -5px;
      }
    }

    .login-button {
      margin: 48px auto;
      background-color: #A1D614;
      border: none;
      font-size: 16px;
      font-weight: 400;
      padding: 10px 0;
      width: 250px;
      border-radius: 5px;
      display: block;
      text-align: center;
      color: #FFFFFF;
      outline: none;
    }
  }
}
