<div class="bg">

    <div class="loader" *ngIf="isLoading">
        <div class="fa fa-spinner"></div>
    </div>

    <div [hidden]="!error" class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
    </div>

    <img class="logo" src="../../assets/logo-big.png"/>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="login-form">
            <div class="title">Intranet nodevo</div>
            <div class="login">Connectez-vous</div>
            <div class="top">
                <input type="text" class="form-control" placeholder="Identifiant" formControlName="username">
                <input type="password" class="form-control" placeholder="Mot de passe" formControlName="password">
            </div>
            <div class="bottom">
                <a href="#" class="forgotten-password">Mot de passe oublié ?</a>
                <div class="remember-me">
                    <input type="checkbox" name="remember_me" id="checkbox_remember_me">
                    <label class="input" for="checkbox_remember_me"></label>
                    <label class="label" for="checkbox_remember_me">Se rappeler de moi</label>
                </div>
                <button class="login-button" type="submit" [disabled]="!loginForm.valid">
                    se connecter
                </button>
            </div>
        </div>
    </form>
</div>

