<div class="sidebar">
    <ul class="menu">
        <app-menu-link module="dashboard" link="/dashboard" icon="cog" label="Tableau de bord"></app-menu-link>
        <app-menu-link module="crm" link="/crm" icon="users" label="CRM"></app-menu-link>
        <app-menu-link module="business-management" link="/business" icon="hand-holding-usd"
                       label="Gestion commerciale"></app-menu-link>
        <!--<app-menu-link module="project-monitoring" link="/project-monitoring" icon="cubes"
                       label="Suivi de projet"></app-menu-link>
        <app-menu-link module="indicators" link="/indicators" icon="chart-area" label="Indicateurs"></app-menu-link>-->
        <app-menu-link module="administration" link="/administration" icon="cogs"
                       label="Administration"></app-menu-link>
    </ul>
</div>
