<div [ngClass]="{'box': true, 'relative': true, 'with-loader': loader}">
    <div class="loader-box fa fa-spinner"></div>

    <form *ngIf="addUserForm" [formGroup]="addUserForm" (submit)="onSubmit()">
        <div class="grid">
            <div class="grid-2">
                <div class="input">
                    <label for="code">Code client</label>
                    <input formControlName="code" type="text" id="code" disabled>
                </div>
                <div class="input">
                    <label for="name">Nom client</label>
                    <input formControlName="name" type="text" id="name">
                </div>
                <div class="input">
                    <label for="socialreason">Raison social</label>
                    <input formControlName="socialreason" type="text" id="socialreason">
                </div>
                <div class="input">
                    <label for="siret">Numéro SIRET</label>
                    <input formControlName="siret" type="text" id="siret">
                </div>
                <div class="input">
                    <label for="address">Adresse</label>
                    <input formControlName="address" type="text" id="address">
                </div>
            </div>
            <div class="grid-2">
                <div class="input">
                    <label for="addressComplement">Adresse complémentaire</label>
                    <input formControlName="addressComplement" type="text" id="addressComplement">
                </div>
                <div class="input">
                    <label for="postalCode">Code Postal</label>
                    <input formControlName="postalCode" type="text" id="postalCode">
                </div>
                <div class="input">
                    <label for="city">Ville</label>
                    <input formControlName="city" type="text" id="city">
                </div>
                <div class="input">
                    <label for="phone">Téléphone</label>
                    <input formControlName="phone" type="text" id="phone">
                </div>
                <div class="input">
                    <label for="mobile">Mobile *</label>
                    <input formControlName="mobile" type="text" id="mobile">
                </div>
            </div>
        </div>

        <div class="input">business
            <label for="memo">Notes</label>
            <textarea formControlName="memo" rows="10" cols="50" id="memo"></textarea>
        </div>
    </form>
</div>

<div class="actions-topbar" *ngIf="!loader">
    <a [routerLink]="['/crm/list']" class="return"><i class="fa fa-long-arrow-alt-left"></i></a>
    <i (click)="onSubmit()" class="submit fa fa-save cup"></i>
</div>

<div *ngIf="customer && customer.id" [ngClass]="{'box': true, 'relative': true, 'with-loader': loader}">
    <div class="loader-box fa fa-spinner"></div>

    <h2 class="title">Liste des contacts</h2>
    <app-grid [gridConfig]="gridContacts" [list]="customer.contact"></app-grid>

    <h2 class="title">Liste des affaires</h2>
    <app-grid [gridConfig]="gridBusiness" [list]="customer.business"></app-grid>

    <h2 class="title">Liste des Devis</h2>
    <app-grid [gridConfig]="gridQuotation" [list]="customer.quotation"></app-grid>
</div>

