<div [ngClass]="{'box': true, 'pr': true, 'with-loader': loader || isSaving}">
    <div class="loader-box fa fa-spinner"></div>

    <h2 class="title">Devis principal</h2>

    <i class="add-button fa fa-plus-circle" (click)="addLine()"></i>

    <table class="table table--text-sm table--reverse-odd-even quotation-table no-mb">
        <thead>
        <tr>
            <th scope="col" class="label">
                Désignation
            </th>
            <th scope="col" class="qty">
                Quantité
            </th>
            <th scope="col" class="unity">
                Unité
            </th>
            <th scope="col" class="price_ht">
                Prix HT
            </th>
            <th scope="col" class="cost_ht">
                Coût HT
            </th>
            <th scope="col" class="actions">
                <!--Lien-->
            </th>
        </tr>
        </thead>
        <tbody *ngIf="!loader">
        <tr app-line *ngFor="let quotationLineElement of quotation.quotationLines"
            [quotation]="quotation"
            [unitList]="unitList"
            [quotationLine]="quotationLineElement"></tr>
        </tbody>
    </table>

    <div class="totals">
        <div class="row">
            <div class="label">
                Montant HT (en €)
            </div>
            <div class="value">
                <div class="border">{{quotation.totalPriceHt}}</div>
            </div>
        </div>
        <div class="row row--important">
            <div class="label">
                Remise HT (en €)
            </div>
            <div class="value">
                <div class="border">{{quotation.discountHt}}</div>
            </div>
        </div>
        <div class="row row--important">
            <div class="label">
                Montant HT après remise (en €)
            </div>
            <div class="value">
                <div class="border">{{quotation.discountTotalPrice}}</div>
            </div>
        </div>
    </div>

    <hr>

    <h2 class="title no-mb">Synthèse devis</h2>

    <div class="totals">
        <div class="row row--important">
            <div class="label">
                Montant HT après remise devis principal (en €)
            </div>
            <div class="value">
                <div class="border">{{quotation.discountTotalPrice}}</div>
            </div>
        </div>
        <div class="row">
            <div class="label">
                Total HT (en €)
            </div>
            <div class="value">
                <div class="border">{{quotation.discountTotalPrice}}</div>
            </div>
        </div>

        <div class="row row--important">
            <div class="label">
                Total TVA (en €)
            </div>
            <div class="value">
                <div class="border">{{quotation.tva}}</div>
            </div>
        </div>
        <div class="row row--important row--final">
            <div class="label">
                Total TTC (en €)
            </div>
            <div class="value">
                <div class="border">{{quotation.totalPriceTtc}}</div>
            </div>
        </div>
    </div>
</div>
