@import "~variables.scss";

.add-button {
  color: #A1D614;
  font-size: 28px;
  right: 30px;
  top: 50px;
  position: absolute;
  cursor: pointer;
}

th.label {
  padding-left: 25px;
}

th.qty {
  padding-left: 15px;
}

th.unity {
  padding-left: 15px;
}

th.price_ht {
  padding-left: 15px;
}

th.cost_ht {
  text-align: right;
  padding-right: 15px;
}

.pr {
  position: relative;
}

.totals {
  margin-top: 10px;

  .row {
    display: flex;
    height: 40px;
    align-items: center;

    .label {
      box-sizing: border-box;
      text-align: right;
      width: 67.5%;
      text-transform: uppercase;
      font-size: 12px;
      padding-right: 15px;
      font-weight: 300;
    }

    .value {
      width: 12.5%;

      .border {
        font-weight: 300;
        margin-left: 15%;
        line-height: 25px;
        font-size: 12px;
        text-align: right;
        height: 25px;
        border: 1px solid $color8;
        padding-right: 15px;
      }
    }

    &--final {
      margin-top: 20px;

      .label {
        font-size: 14px;
      }

      .value {
        .border {
          font-size: 14px;
        }
      }
    }

    &--important {
      .label {
        font-weight: 600;
      }

      .value {
        .border {
          font-weight: 600;
        }
      }
    }
  }
}

.no-mb {
  margin-bottom: 0;
}