<div [ngClass]="{'box': true, 'relative': true, 'with-loader': loader || isSaving}">
    <div class="loader-box fa fa-spinner"></div>

    <h2 class="title">Informations générales</h2>

    <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">

        <div class="grid">

            <div class="grid-2">
                <div class="input">
                    <label>Affaire</label>
                    <div class="select">
                        <select formControlName="business"
                                [ngModel]="selectedBusiness"
                                (ngModelChange)="getSelectedBusiness($event)">
                            <option *ngFor="let businessElement of businessList"
                                    [value]="businessElement">{{ businessElement.libelle }}
                            </option>
                        </select>
                        <div class="fa fa-caret-down"></div>
                    </div>
                </div>
            </div>

            <div class="grid-2">
                <div class="input">
                    <label>Client</label>
                    <div class="select">
                        <select formControlName="customer">
                            <option *ngFor="let customerElement of customerList"
                                    [value]="customerElement">{{ customerElement.name }}
                            </option>
                        </select>
                        <div class="fa fa-caret-down"></div>
                    </div>
                </div>
            </div>

        </div>

        <div class="input">
            <label for="label_devis">Intitulé du devis</label>
            <input type="text" id="label_devis" formControlName="title">
        </div>

        <div class="grid">

            <div class="grid-2">
                <div class="input">
                    <label>Type de prestation</label>
                    <div class="select">
                        <select formControlName="benefit">
                            <option *ngFor="let typeBenefitElement of typeBenefitList"
                                    [value]="typeBenefitElement">{{ typeBenefitElement.title }}
                            </option>
                        </select>
                        <div class="fa fa-caret-down"></div>
                    </div>
                </div>

                <div class="input">
                    <label for="commercial_contact">Contact commercial</label>
                    <input type="text" id="commercial_contact"
                           placeholder=""
                           disabled>
                </div>

                <div class="input">
                    <label for="creation_date">Date de création</label>
                    <input type="date" id="creation_date" placeholder="09/05/2018" formControlName="creation">
                </div>

                <div class="input">
                    <label>Afficher les CGV</label>
                    <div class="radio-row">
                        <div class="radio radio--w50">
                            <input type="radio" name="show_cgv" checked id="cgv_yes" (click)="showCgvInput()">
                            <label for="cgv_yes" class="radio-style" (click)="showCgvInput()"></label>
                            <label for="cgv_yes">Oui</label>
                        </div>
                        <div class="radio radio--w50">
                            <input type="radio" name="show_cgv" id="cgv_no" (click)="hiddenCgvInput()">
                            <label for="cgv_no" class="radio-style" (click)="hiddenCgvInput()"></label>
                            <label for="cgv_no">Non</label>
                        </div>
                    </div>
                </div>

            </div>

            <div class="grid-2">
                <div class="input">
                    <label>Etat</label>
                    <div class="select">
                        <select formControlName="etat">
                            <option *ngFor="let etatElement of etatList"
                                    [value]="etatElement">{{ etatElement.title }}
                            </option>
                        </select>
                        <div class="fa fa-caret-down"></div>
                    </div>
                </div>
                <div class="input">
                    <label for="technical_contact">Contact technique</label>
                    <input type="text" id="technical_contact"
                           placeholder=""
                           disabled>
                </div>
                <div class="input">
                    <label for="valid_date">Date de validité</label>
                    <input type="date" id="valid_date" placeholder="09/05/2018" formControlName="validity">
                </div>

                <div class="input" *ngIf="cgvInputVisibility">
                    <label>CGV</label>
                    <div class="select">
                        <select formControlName="cgv">
                            <option *ngFor="let cgvElement of cgvList"
                                    [value]="cgvElement">{{ cgvElement.title }}
                            </option>
                        </select>
                        <div class="fa fa-caret-down"></div>
                    </div>
                </div>

            </div>

        </div>

        <div class="grid">
            <div class="grid-2">
                <div class="input">
                    <label for="payment_conditions">Conditions de paiement</label>
                    <div class="select">
                        <select id="payment_conditions" formControlName="paymentCondition">
                            <option *ngFor="let paymentConditionElement of paymentConditionList"
                                    [value]="paymentConditionElement">{{ paymentConditionElement.title }}
                            </option>
                        </select>
                        <div class="fa fa-caret-down"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="input">
            <label for="customer_notes">Note client</label>
            <input type="text" id="customer_notes" formControlName="customerNote">
        </div>

        <div class="input">
            <label for="private_notes">Note privées</label>
            <input type="text" id="private_notes" formControlName="internalNote">
        </div>
    </form>
</div>
