<div [ngClass]="{'box': true, 'relative': true, 'with-loader': loader}">
    <div class="loader-box fa fa-spinner"></div>

    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th *ngFor="let role of roles">
                {{role.title}} <i *ngIf="role.title !== 'admin'" (click)="removeRole(role)" class="fa fa-trash"></i>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let module of modules" class="module">
            <td class="tdhead">{{module.getLabel()}}</td>
            <td *ngFor="let role of roles">
                    <span class="module__input input">
                        <span class="checkbox" *ngIf="role.title !== 'admin'">
                            <input type="checkbox" id="'access_' + role.id + '_' + module.id"
                                   [checked]="role.isAllowedToModule(module.title)">
                            <label class="checkbox-style fa fa-check" (for)="'access_' + role.id + '_' + module.id"
                                   (click)="changeStateModuleAccess(role, module)"></label>
                        </span>
                        <span class="checkbox" *ngIf="role.title == 'admin'">
                            <input type="checkbox" checked disabled>
                            <label class="checkbox-style fa fa-check disabled"></label>
                        </span>
                    </span>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="actions-topbar">
    <i (click)="openDialog()" class="submit fa fa-plus-circle cup"></i>
</div>