@import "~variables.scss";

.label {
  width: 30%;
  text-align: left;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 10px !important;
}

.qty {
  width: 15%;
  padding-top: 0;
  padding-bottom: 0;
}

.unity {
  width: 10%;
  padding-top: 0;
  padding-bottom: 0;
}

.price_ht {
  width: 12.5%;
  padding-top: 0;
  padding-bottom: 0;
}

.cost_ht {
  width: 12.5%;
  text-align: right;
  padding-right: 15px;
}

.actions {
  width: 20%;
  padding-top: 8px;
  padding-bottom: 8px;
}

.valid {
  color: $color1 !important;
}

.input input {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 12px;
}