<ng-container *ngIf="quotationLineForm" [formGroup]="quotationLineForm">
    <td class="label">
        <span class="input input--sm input--no-margin input--hover">
            <input placeholder="Désignation" type="text" formControlName="designation">
        </span>
    </td>
    <td class="qty">
        <span *ngIf="!quotationLine.isTitle" class="input input--sm input--no-margin input--hover">
            <input placeholder="Quantité" type="number" min="1" formControlName="quantity">
        </span>
    </td>
    <td class="unity">
        <div *ngIf="!quotationLine.isTitle" class="input input--sm input--no-margin input--hover">
            <div class="select">
                <i class="fa fa-caret-down"></i>
                <select formControlName="unit" class="select" [(ngModel)]="selectedUnit">
                    <option *ngFor="let unitElement of unitList" [ngValue]="unitElement">
                        {{ unitElement.title }}
                    </option>
                </select>
            </div>
        </div>
    </td>
    <td class="price_ht">
        <span *ngIf="!quotationLine.isTitle" class="input input--sm input--no-margin input--hover">
            <input placeholder="Prix HT" type="text" formControlName="priceHT">
        </span>
    </td>
    <td class="cost_ht">
        <ng-container *ngIf="!quotationLine.isTitle">{{quotationLine.costHT}}</ng-container>
    </td>
    <td class="actions">
        <i (click)="remove()" class="fa fa-times-circle"></i>
        <i (click)="gift()" [ngClass]="{'fa-gift': true, 'fa': true, 'valid': quotationLine.isGift}"></i>
        <i (click)="title()" [ngClass]="{'fa': true, 'fa-font': true, 'valid': quotationLine.isTitle}"></i>
        <i (click)="up()" class="fa fa-arrow-up"></i>
        <i (click)="down()" class="fa fa-arrow-down"></i>
    </td>
</ng-container>