<div class="actions-topbar">
    <a [routerLink]="['/business/quotation/list']" class="return"><i class="fa fa-long-arrow-alt-left"></i></a>
    <i (click)="save()" class="submit fa fa-save cup"></i>
</div>

<app-general-information-widget [isSaving]="isSaving" [quotation]="quotation"></app-general-information-widget>
<app-quotation-principal [isSaving]="isSaving" [quotation]="quotation"></app-quotation-principal>