<div class="actions-topbar">
    <a [routerLink]="['/business/list']" class="return"><i class="fa fa-long-arrow-alt-left"></i></a>
    <i (click)="onSubmit()" class="submit fa fa-save cup"></i>
</div>

<div [ngClass]="{'box': true, 'pr': true, 'relative': true, 'with-loader': !businessForm}">
    <div class="loader-box fa fa-spinner"></div>
    <form [formGroup]="businessForm" (ngSubmit)="onSubmit()" *ngIf="businessForm">
        <div class="grid">
            <div class="grid-2">
                <div class="input">
                    <label for="">Code Affaire</label>
                    <input type="text" id="code" formControlName="code">
                </div>
                <div class="input">
                    <label for="">Client</label>
                    <div class="select">
                        <select *ngIf="customerList" formControlName="customer"
                                ([ngModel])="selectedCustomer">
                            <option *ngFor="let customer of customerList"
                                    [ngValue]="customer">{{ customer.name }}
                            </option>
                        </select>
                        <div class="fa fa-caret-down"></div>
                    </div>
                </div>
                <div class="input">
                    <label for="">Contact Commercial</label>
                    <div class="select">
                        <select formControlName="contact_com"
                                *ngIf="selectedCustomer !== null || !selectedCustomer.id || !selectedCustomer.contact">
                            <option *ngFor="let contact of selectedCustomer.contact" [value]="contact">
                                {{ contact.firstName }} {{ contact.lastName}}
                            </option>
                        </select>
                        <div class="fa fa-caret-down"></div>
                    </div>
                </div>
            </div>
            <div class="grid-2">
                <div class="input">
                    <label for="">Nom dosser de l'arbo</label>
                    <input type="text" id="file" formControlName="file">
                </div>
                <div class="input">
                    <label for="">Intitulé de l'affaire</label>
                    <input type="text" id="libelle" formControlName="libelle">
                </div>
                <div class="input">
                    <label for="">Contact Technique</label>
                    <div class="select">
                        <select formControlName="contact_tec"
                                *ngIf="selectedCustomer !== null || !selectedCustomer.id || !selectedCustomer.contact">
                            <option *ngFor="let contact of selectedCustomer.contact" [value]="contact">
                                {{ contact.firstName }} {{ contact.lastName}}
                            </option>
                        </select>
                        <div class="fa fa-caret-down"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="input">
            <label for="note">Notes</label>
            <textarea rows="10" cols="50" id="note" formControlName="note"></textarea>
        </div>

    </form>
</div>

<div *ngIf="business && business.id"
     [ngClass]="{'box': true, 'pr': true, 'relative': true, 'with-loader': !business || !business.quotation}">
    <div class="loader-box fa fa-spinner"></div>
    <h2 class="title">Liste des Devis</h2>

    <app-grid [gridConfig]="gridQuotation" [list]="business.quotation"></app-grid>
</div>
