<div class="topbar">
    <ul class="tab-list">
        <li>
            <a [routerLink]="['user/list']" routerLinkActive="active">Liste des utilisateurs</a>
        </li>
        <li>
            <a [routerLink]="['user/details']" routerLinkActive="active">Détails utilisateur</a>
        </li>
        <li>
            <a [routerLink]="['user/access']" routerLinkActive="active">Gérer les Accès</a>
        </li>
        <li>
            <a [routerLink]="['settings']" routerLinkActive="active">Préférences</a>
        </li>
    </ul>
</div>
<div class="topbar-padding"></div>
<router-outlet></router-outlet>
