<h1 mat-dialog-title>Contact</h1>
<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content>
        <input type="hidden" formControlName="id">
        <div class="grid">
            <div class="grid-2">
                <div class="input">
                    <label for="lastName">Prénom</label>
                    <input type="text" formControlName="lastName" id="lastName">
                </div>
                <div class="input">
                    <label for="phone">Téléphone</label>
                    <input type="text" id="phone" formControlName="phone">
                </div>
                <div class="input">
                    <label for="email">Email</label>
                    <input type="email" id="email" formControlName="email">
                </div>
            </div>
            <div class="grid-2">
                <div class="input">
                    <label for="firstName">Nom</label>
                    <input type="text" id="firstName" formControlName="firstName">
                </div>
                <div class="input">
                    <label for="mobilePhone">Mobile</label>
                    <input type="text" id="mobilePhone" formControlName="mobilePhone">
                </div>
                <div class="input">
                    <label for="fonction">Fonction</label>
                    <div class="select">
                        <i class="fa fa-caret-down"></i>
                        <select id="fonction" formGroupName="fonction">
                            <option *ngFor="let fonction of fonctions" [value]="fonction.id">
                                {{fonction.title}}
                            </option>
                        </select>
                    </div>
                </div>
                <input type="hidden" formGroupName="id">
                <input type="hidden" formGroupName="customer">
            </div>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions>
        <div class="buttons">
            <button class="button" type="submit">Enregistrer</button>
            <button class="button button--gray" mat-button type="button" mat-dialog-close>Cancel</button>
        </div>
    </mat-dialog-actions>
</form>
