<div class="topbar">
    <ul class="tab-list">
        <li>
            <a [routerLink]="['list']" routerLinkActive="active">Affaires</a>
        </li>
        <li>
            <a [routerLink]="['details']" routerLinkActive="active">Détails Affaire</a>
        </li>
        <li>
            <a [routerLink]="['quotation/list']" routerLinkActive="active">Devis</a>
        </li>
        <li>
            <a [routerLink]="['quotation/details']" routerLinkActive="active">Détails Devis</a>
        </li>
    </ul>
</div>
<div class="topbar-padding"></div>
<router-outlet></router-outlet>
