<div class="topbar">
    <ul class="tab-list">
        <li>
            <a [routerLink]="['list']" routerLinkActive="active">Liste des clients</a>
        </li>
        <li>
            <a [routerLink]="['details']" routerLinkActive="active">Détail client</a>
        </li>
        <li>
            <a [routerLink]="['contacts']" routerLinkActive="active">Annuaire</a>
        </li>
    </ul>
</div>
<div class="topbar-padding"></div>
<router-outlet></router-outlet>
