<app-referential nameList="Types de prestation" [service]="benefitServ"></app-referential>
<app-referential nameList="CGV" [service]="cgvServ"></app-referential>
<app-referential nameList="États devis" [service]="etatServ"></app-referential>
<app-referential nameList="Unités devis" [service]="unitServ"></app-referential>
<app-referential nameList="Fonctions des contacts" [service]="functionServ"></app-referential>
