
li {
  display: block;

  a {
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    padding-left: 15px;
    border-left: 4px solid #242536;
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease;

    .fa {
      position: relative;
      top: 3px;
      font-size: 17px;
      margin-right: 8px;
      display: inline-block;
    }

    &.active {
      background-color: #151524;
      border-left: 4px solid #A1D614;
    }
  }
}

