@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';
@import "variables";

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  padding: 60px 0 30px 200px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  background: $color2;
  font-weight: 300;
}

.topbar-padding {
  display: block;
  width: 100%;
  height: 60px;
}

.topbar {
  height: 60px;
  border-bottom: 1px solid $color3;
  background: #FFFFFF;
  position: fixed;
  left: 200px;
  right: 0;
  z-index: 100;
}

.actions-topbar {
  right: 30px;
  top: 75px;
  position: fixed;
  display: flex;
  z-index: 101;

  .submit {
    color: $color1;
    font-size: 28px;
    text-decoration: none;
  }

  .return {
    color: $color14;
    font-size: 28px;
    margin-right: 20px;
    text-decoration: none;
  }

  .add {
    color: #B2BAC4;
    font-size: 28px;
    margin-right: 20px;
    text-decoration: none;
  }

  .clone {
    color: #A1D614;
    font-size: 28px;
    text-decoration: none;
  }
}

@keyframes boxFadeInLeft {
  from {
    position: relative;
    left: -20px;
    opacity: 0;
  }

  to {
    position: relative;
    left: 0;
    opacity: 1;
  }
}

.box {
  animation: boxFadeInLeft 0.5s;
  margin: 20px 20px 0 20px;
  padding: 30px;
  border-radius: 3px;
  background: $white;
  border: 1px solid $color3;
  display: block;

  &--small-margin {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .loader-box {
    display: none;
  }

  &.with-loader {
    position: relative;
    min-height: 100px;

    &:before {
      content: ' ';
      position: absolute;
      z-index: 1;
      border-radius: 3px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      background: rgba(255, 255, 255, 0.8);
    }

    .loader-box {
      z-index: 2;
      color: $color1;
      font-size: 50px;
      top: calc(50% - 20px);
      left: calc(50% - 20px);
      position: absolute;
      display: inline-block;
      -webkit-animation: spin 2s linear infinite;
      -moz-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
    }
  }
}

.tab-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;

  li {
    margin-left: 30px;
    display: block;

    a {
      text-decoration: none;
      cursor: pointer;
      display: block;
      height: 58px;
      line-height: 58px;
      transition: all 0.3s ease;
      border-bottom: 2px solid transparent;
      color: $color6;
      font-size: 18px;

      &.active {
        color: $color7;
        border-bottom: 2px solid $color1;
      }
    }
  }
}

.input {
  &--row {
    display: flex;
  }

  &--no-margin.input {

    input[type=text], input[type=password], input[type=date], input[type=email], input[type=number] {
      margin-bottom: 0;
    }

    .select {
      select {
        margin-bottom: 0;
      }
    }
  }

  &--hover.input {
    input[type=text], input[type=password], input[type=date], input[type=email], input[type=number] {
      border-color: transparent;
      background: transparent;

      &:hover {
        border: 1px solid $color4;
      }

      &:focus {
        border: 1px solid $color4;
        background: $white;
      }
    }

    .select {

      .fa {
        transition: 0.3s all ease;
        opacity: 0;
      }

      select {
        border-color: transparent;
        background: transparent;
      }

      &:hover {
        .fa {
          opacity: 1;
        }

        select {
          border: 1px solid $color4;
        }

        select:focus {
          background: $white;
        }
      }
    }
  }

  &--sm.input {
    input[type=text], input[type=password], input[type=date], input[type=email], input[type=number] {
      height: 28px;
      line-height: 28px;
    }

    .select {

      .fa {
        top: 8px;
      }

      select {
        height: 28px;
        line-height: 28px;
      }
    }
  }

  label {
    color: $color5;
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
  }

  input[type=text], input[type=password], input[type=date], input[type=email], input[type=number] {
    border: 1px solid $color4;
    display: block;
    height: 50px;
    line-height: 50px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding-left: 15px;
    outline: none;
    transition: all 0.3s ease;

    &:focus {
      border: 1px solid $color1;
    }
  }

  .select {
    position: relative;

    select::-ms-expand {
      display: none;
    }

    select {
      background: $white;
      border: 1px solid $color4;
      display: block;
      height: 50px;
      line-height: 50px;
      width: 100%;
      box-sizing: border-box;
      margin-bottom: 20px;
      padding-left: 15px;
      outline: none;
      border-radius: 0;
      transition: all 0.3s ease;
      -webkit-appearance: none;
      &:focus {
        border: 1px solid $color1;
      }
    }

    .fa {
      display: inline-block;
      position: absolute;
      width: 5px;
      height: 5px;
      top: 17px;
      right: 15px;
      color: $color5;
      z-index: 1;
    }
  }

  textarea {
    border: 1px solid $color4;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    outline: none;
    transition: all 0.3s ease;

    &:focus {
      border: 1px solid $color1;
      box-shadow: 0 0 4px $color1;
    }
  }

  .radio-row, .checkbox-row {
    display: flex;
    height: 60px;
    margin-bottom: 20px;
    align-items: center;
  }

  .radio {
    .radio-style {
      border-radius: 30px;

      &:before {
        border-radius: 30px;
      }
    }
  }

  .radio, .checkbox {
    display: flex;
    align-items: center;
    padding-right: 20px;

    &--w50 {
      width: 50%;
      padding-right: 0;
    }

    label {
      color: $color9;
      font-size: 16px;
      cursor: pointer;
    }

    .radio-style, .checkbox-style {
      height: 18px;
      width: 18px;
      border: 2px solid $color10;
      margin-right: 10px;
      position: relative;
    }

    .radio-style:before {
      opacity: 0;
      transform: scale(0);
      content: " ";
      height: 14px;
      width: 14px;
      position: absolute;
      top: 2px;
      left: 2px;
      background: $color10;
      transition: all 0.3s ease;
    }

    .checkbox-style {

      &.disabled {
        background: $color10;
        cursor: not-allowed;
        opacity: 0.4;

        &:before {
          color: white;
        }
      }

      &:before {
        opacity: 0;
        transform: scale(0);
        height: 14px;
        width: 14px;
        position: absolute;
        top: 2px;
        left: 2px;
        transition: all 0.3s ease;
        color: $color10;
        font-size: 14px;
      }
    }

    input {
      position: absolute;
      opacity: 0;
      height: 0;
      width: 0;
      overflow: hidden;

      &:checked + .radio-style:before, &:checked + .checkbox-style:before {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}

.grid {
  display: flex;
  margin-right: -10px;
  margin-left: -10px;

  .grid-2 {
    padding: 10px;
    width: 50%;
  }

  .grid-3 {
    padding: 10px;
    width: 33.333333%;
  }

  .grid-4 {
    padding: 10px;
    width: 25%;
  }

  .grid-5 {
    padding: 10px;
    width: 20%;
  }
}

.table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  margin-bottom: 30px;
  position: relative;

  &--text-sm {
    td {
      font-size: 12px;
    }
  }

  thead {
    th {
      border-bottom: 2px solid $color11;
      text-align: left;
      text-transform: uppercase;
      padding-bottom: 10px;
      font-size: 12px;

      &.filterable {
        cursor: pointer;

        &:after {
          content: "\f0dc";
          font-family: Font Awesome\ 5 Free;
          -moz-osx-font-smoothing: grayscale;
          -webkit-font-smoothing: antialiased;
          display: inline-block;
          font-style: normal;
          font-variant: normal;
          text-rendering: auto;
          line-height: 1;
          margin-left: 5px;
        }
      }

      &.asc:after {
        content: "\f0de";
      }

      &.desc:after {
        content: "\f0dd";
      }
    }
  }

  tbody {
    tr {
      &:nth-child(odd) {
        background: $color12;
      }

      &.active {
        .status {
          color: $color13;
        }

        td.actions .fa-check-circle {
          color: $color13;
        }
      }

      td {
        padding-top: 10px;
        padding-bottom: 10px;

        a {
          text-decoration: none;
          color: $black;

          &:hover {
            text-decoration: underline;
          }
        }

        &:first-child {
          padding-left: 20px;
        }

        &:last-child {
          padding-right: 20px;
        }

        &.actions {
          text-align: right;

          .fa {
            font-size: 20px;
            margin-left: 8px;
            color: #C6C4C4;
            text-decoration: none;
            cursor: pointer;
          }
        }
      }
    }
  }

  &--reverse-odd-even {
    tbody {
      tr {
        &:nth-child(odd) {
          background: none;
        }

        &:nth-child(even) {
          background: $color12;
        }
      }
    }
  }
}

.pagination {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style-type: none;

  li {
    height: 24px;
    font-size: 12px;
    line-height: 24px;
    padding-left: 14px;
    padding-right: 14px;
    border-right: 1px solid $color14;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: $color14;
    cursor: pointer;

    &:last-child {
      border-right: none;
    }

    &.active {
      cursor: auto;
      color: $black;
    }
  }
}

h2.title {
  border-left: 5px solid $color1;
  padding-left: 10px;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 30px;
}

hr {
  border: none;
  background: $color11;
  height: 2px;
  margin: 20px 0;
}

.cup {
  cursor: pointer;
}

.button {
  background: $color1;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  color: $white;
  transition: 0.3s all ease;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
  outline: none;

  &:hover {
    background: $color16;
  }

  &--gray {
    background: $color6;

    &:hover {
      background: $color5;
    }
  }
}