<div class="notifications">
    <div *ngFor="let notification of notifications"
         [ngClass]="{
       'notification': true,
       'success': notification.type === 'success',
       'error': notification.type === 'error',
       'warning': notification.type === 'warning',
       'hidden': !notification.visible
       }"
    >
        <span class="fa fa-check" *ngIf="notification.type === 'success'"></span>
        <span class="fa fa-times" *ngIf="notification.type === 'error'"></span>
        <span class="fa fa-exclamation-triangle" *ngIf="notification.type === 'warning'"></span>
        <span class="text">
            {{ notification.message}}
        </span>
    </div>
</div>
