@keyframes notification {
  0% {
    left: -20px;
    opacity: 0;
  }
  10% {
    left: 0;
    opacity: 1;
  }
  80% {
    transform: scale(1);
  }
  90% {
    transform: scale(0);
    max-height: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  99% {
    transform: scale(0);
    max-height: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  100% {
    transform: scale(0);
  }
}

.notifications {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  display: block;
  z-index: 1002;
}

.notification {
  display: flex;
  position: relative;
  margin-bottom: 10px;
  padding: 15px 20px;
  align-items: center;
  border-radius: 3px;
  font-size: 14px;
  animation: notification 5s;

  &.hidden {
    display: none;
  }

  &.success {
    background: #efffc4;
    border: 1px solid #7da900;
    color: #517100;
  }

  &.error {
    background: #fff3f3;
    border: 1px solid #ccb0ac;
    color: #b25649;
  }

  &.warning {
    background: #fff0c5;
    border: 1px solid #b9be61;
    color: #8b8038;
  }

  .text {
    margin-left: 10px;
  }
}